* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #ffffff;
  color: #111827;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 1);
  border-bottom: 1px solid #e5e7eb;
  z-index: 10;
}

.navbar h1 {
  color: #2563eb;
}

.navbar span {
  color: #3f6ccf;
}

.navbar a {
  color: #111827;
  margin-left: 30px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.navbar a:hover {
  color: #2563eb;
}

/* Hero */
.hero {
  height: 100vh;
  background: linear-gradient(
    rgba(255,255,255,0.3),
    rgba(255,255,255,0.3)
  ),
  url("https://images.unsplash.com/photo-1469474968028-56623f02e42e");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 80px;
}

.hero-content h2 {
  font-size: 50px;
  color: #1e40af;
  line-height: 3rem;
}
.hero-content h2 span{
    color: #e0f2fe;
}

.hero-content p {
  margin: 20px 0;
  max-width: 500px;
  color: #374151;
}

.btn {
  padding: 12px 30px;
  background: #2563eb;
  color: white;
  text-decoration: none;
  font-weight: 600;
  border-radius: 6px;
  transition: 0.3s;
}

.btn:hover {
  background: #1e40af;
}

/* Sections */
section {
  padding: 100px 80px;
}

.about,
.contact {
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.about {
  background: #f8fafc;
  padding: 8rem 7% 1.4rem;

}

.portfolio h2,
.about h2,
.contact h2 {
  color: #1e40af;
  margin-bottom: 40px;
}

/* Portfolio */
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  padding: 20px;
  text-align: center;
  color: #111827;
}

.card:hover {
  transform: translateY(-10px);
}

/* Contact */
.contact {
  background: #e0f2fe;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #f1f5f9;
  font-size: 14px;
  color: #374151;
}

.linefull {
    width: 100%;
    height: 2px;
    background-color: #1e40af;
    margin-left: calc(-50vh + 50%);
}
